/*Globalt for både mobil og desktop*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    max-width: 1400px;
    margin: 0;
}

#order-page-siste-trinn {
    display: none;
}

.hidden-headlines {
    visibility: hidden; /*Kanskje endre til display none slik at de ikke tar opp plass*/
}

.removed-headlines {
    display: none; /*Denne er for overskriftene som ikke gir noe semantisk eller hjelpsom info, og trenger derfor ikke bli sett av f.eks. skjermopplesere*/
}

.main-max-width { /*KOM TILBAKE TIL DETTE*/
    max-width: 1000px;
}

#logo {width: 75px;}

/*For Mobil*/
@media only screen and (max-width:800px) {

    /*Header Navigasjons område*/
    .hidden-header-nav-elements {
            display: none;
        }

    .header-sections {
        display: flex;
        nav {display: flex;}
    }

    #main-header {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        section{
            display: flex;
            padding: 10px;
        }
    }

    #del-1-nav {
        nav ul {display: flex; list-style: none; margin: 0;}
        nav ul li a {text-decoration: none; color: black; padding-left: 10px;}
        a {display: flex; padding: 5px;}
        i {display: flex; font-size: 35px;}
    }

    #hidden-text {
        a {font-size: 0;}/*Gjemmer teksten i taggen på mobil-versjonen, men beholder ikonet*/
    }

    /*Footeren*/
    #footer {
        background-color: #252525;
        display: flex;
        flex-wrap: wrap;
    }

    #flagg {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        section {
            display: flex; 
            flex-wrap: wrap; 
            flex-direction: row; 
            color: white; 
            padding-top: 15px;
        }
        section picture img {width: 40px; margin: 10px;}
    }

    #betalingsmetoder {
        color: white;
        width: 100%;
        padding-left: 20px;
        padding-bottom: 15px;
        i {padding: 5px; font-size: 30px;}
    }

    #nyheter-og-tilbud {
        color: white;
        padding-left: 20px;
        padding-bottom: 15px;
        form fieldset label input {
            margin-left: 5px; 
            margin-top: 15px; 
            margin-bottom: 15px; 
            padding: 5px; 
            border-radius: 5px;
        }
        form fieldset button {
            padding: 5px;
            background-color: #ffcf40; 
            border: none; 
            border-radius: 5px; 
            font-weight: bold;
        }
        #footer-form{padding-bottom: 15px;}
        a {
            color: white;
            text-decoration: none;
        }
    }

    #kundeservice {
        color: white;
        padding-left: 20px;
        padding-bottom: 15px;
        ul {list-style: none; padding-left: 0;}
        ul a {text-decoration: none; color: white;}
    }

    #sosiale-medier {
        color: white;
        padding-left: 20px;
        padding-bottom: 20px;
        a {
            color: white; 
            padding: 10px;
            font-size: 35px;
        }
    }

    /*Forsiden*/
    #forside-header-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px 125px 125px 125px;
        width: 100%;
    }

    #front_page_banner {
        grid-row: 1 / 5;
        grid-column: 1;
        width: 100%;
        picture img {
            max-width: 100%;
            height: auto;
        }/*Nå tar banneren opp hele bredden til siden og gridet uansett størrelse, som spesifisert i oppgave-teksten*/
    }

    #bestillingskjema {
        grid-row: 1 / 5;
        grid-column: 1;
        align-content: center;
        background-color: white;
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        width: 80%;
        justify-self: center;
        align-self: center;
        border-radius: 10px;
        border-color: #e8e8e8;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        form {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 15px;
        }

        #bestillingskjema-form-på-rad-seksjon {
            display: flex;
            width: 100%;
        }
        .bestillingskjema-form-på-rad {
            display: flex;
            width: 50%;
        }
        form fieldset {
            display: flex;
            width: 100%;
            padding: 5px;
            justify-content: center;
            align-items: flex-end;
        }
        form fieldset label, input {width: 100%;}
        form fieldset label select, input {
            border: none;
            background-color: white;
            color: #e8e8e8;
            width: 100%;
        }
        form fieldset label select option{color: black}

        #scrolle-pil {/*KOM TILBAKE TIL DENNE - PLASSER PÅ HØYRE SIDEN AV SCROLLBAREN*/
            position: absolute;
            padding-top: 20px;
            background: rgba(255, 255, 255, 0.536);
            font-size: 30px;
            margin: 5px; 
            max-width: 100%;
            a i {
                height: 50px;
                width: 50px;
            }
        }

        #bestillingskjema-linker {
            justify-self: center;
            padding: 20px;
            margin: 0;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            position: relative;
            overflow: auto;
            white-space: nowrap;
            text-align: center;
            a {
                padding: 10px;
                padding-left: 5px;
                padding-right: 5px;
                list-style: none;
                text-decoration: none;
                color: black;
            }
            i {padding: 5px; position: relative;}
            #fly-og-hotell{text-decoration: underline#1ca2c1 3px;}
        }
        #bestillingskjema-form{
            button {
                padding: 15px;
                margin: 10px;
                width: 100%;
                background-color: #ffcf40; 
                border: none; 
                border-radius: 5px; 
                font-weight: bold;
            }
        }
    }

    /*Kampanjeseksjon*/
    #kampanjeseksjon {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 300px;
        height: auto;
        background-image: url(../Images/holiday-2733322_1280.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding-top: 20px;
        #kampanjeseksjon-tekst {
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 75%;
            max-height: 150px;
            background-color: #52d3f0;
            padding: 20px;
            #bestill-sommerens-beste-uke{font-size: 20px; font-weight: bold; margin: 0;}
            #fra-3298{font-size: 25px; font-weight: bold; margin: 0;}
            #fly-hotell-7-dager{margin: 0;}
        }
        a{
            align-self: flex-end;
            padding-right: 25px;
            padding: 15px;
            margin-top: 10px;
            margin-right: 60px;
            color: black;
            background-color: #ffcf40; 
            border: none; 
            border-radius: 5px; 
            font-weight: bold;
            text-decoration: none;
        }
    }

    /*Tilbudsseksjon*/
    
}













/*For Desktop*/
@media only screen and (min-width:800px) {
    .hidden-hamburger-menu {
        display: none;
    }
}