/*Globalt for både mobil og desktop*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    max-width: 1400px;
}

#order-page-siste-trinn {
    display: none;
}

.hidden-headlines {
    visibility: hidden; /*Kanskje endre til display none slik at de ikke tar opp plass*/
}

.removed-headlines {
    display: none; /*Denne er for overskriftene som ikke gir noe semantisk eller hjelpsom info, og trenger derfor ikke bli sett av f.eks. skjermopplesere*/
}

.main-max-width {
    max-width: 1000px;
}

#logo {width: 75px;}

/*For Mobil*/
@media only screen and (max-width:800px) {

    /*Lager en egen grid til forsiden*/
    #forside-grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "header-1"
        "header-2"
        "main"
        "footer";
    }

    #main-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        section{display: flex;}

    }

    #forside-header-2 {
        grid-area: header-2;
    }

    #forside-main {
        grid-area: main;
    }
    
    #footer {
        grid-area: footer;
    }

    /*Header Navigasjons område*/
    .hidden-header-nav-elements {
            display: none;
        }

    .header-sections {
        display: flex;
        nav {display: flex;}
    }

    #del-1-nav {
        nav ul {display: flex; list-style: none;}
        nav ul li a {text-decoration: none; color: black;}
        a {display: flex; padding: 5px;}
        i {display: flex; font-size: 35px;}
    }

    #hidden-text {
        a {font-size: 0;}/*Gjemmer teksten i taggen på mobil-versjonen, men beholder ikonet*/
    }
}













/*For Desktop*/
@media only screen and (min-width:800px) {
    .hidden-hamburger-menu {
        display: none;
    }
}